.navbar,.navbar-default
{
  background-color: #000000;
}
#navLateral
{
  height: 100%;
  position: absolute;
  background-color: #000000;
  float: left;
}
ul li a {
  display: block;
  color:#fff;
}
.divprincipal
{
  height: 80%;
  position: relative;
  float: right;
}
.divesq
{
  height: 100%;
  width: 50%;
  position: absolute;
  border-right: 1px solid #000;

  padding: 10px;
}
.divdir
{
  float: right;
  height: 100%;
  width: 50%;
  position: static;
  padding: 10px;
}
.divdirpendencia
{
  float: right;
  height: 100%;
  width: 20%;
  position:relative;
  margin-right: 1%;
  margin-top: 2%;
}
.divesqpendencia
{
  float: left;
  height: 100%;
  width: 78%;
  position:relative;
  margin-right: 1%;
  margin-top: 2%;
}
body
{
  background-image: url("/Imagens/fundosite.jpg");
}